[package]
name = "fast"
version = "1.0.0"
edition = "2024"

[dependencies]
anyhow = "1.0.98"
itertools = "0.14.0"
nanoserde = { version = "0.2.1", default-features = false, features = ["std", "json"] }
